body {
    background-color: #192D72;
}

.login {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    box-shadow: -1px -1px 41px 0px rgb(255 255 255 / 75%);
    -webkit-box-shadow: -1px -1px 41px 0px rgb(255 255 255 / 75%);
    -moz-box-shadow: -1px -1px 41px 0px rgb(255 255 255 / 75%);
}

h2 {
    color: #192D72;
}